<h1>Forma za dodavanje korisnika</h1>
<div>
  <form [formGroup]="productForm">

    <div>
      <label>ime</label>
      <input formControlName="ime" placeholder="ime" />
    </div>
    <div>
      <label>prezime</label>
      <input formControlName="prezime" placeholder="prezime" />
    </div>
    <div>
      <label>email</label>
      <input formControlName="email" placeholder="email" />
    </div>
    <div>
      <label>datumRodjenja</label>
      <input formControlName="datumRodjenja" type="date"/>
    </div>
    <div>
      <label>brojTelefona</label>
      <input formControlName="brojTelefona" placeholder="brojTelefona" />
    </div>
    <div>
      <label>pol</label>
      <input formControlName="pol" placeholder="pol" />
    </div>
    <div>
      <label>korisnickoIme</label>
      <input formControlName="kornisnickoIme" placeholder="korisnickoIme" />
    </div>
    <div>
      <label>password</label>
      <input formControlName="password" type="password" placeholder="ime" />
    </div>
    </form>



</div>